html, body {
    height: 100%;
	min-height:100%;
    margin: 0;
    padding: 0;
	background: radial-gradient(#2f2f2f, #010A14);
	overflow:auto;
}
head {}
body {
	width:100vw;
	overflow-x:hidden;
	text-align:center;
	font-family:Arial, sans-serif;
}
footer {
	color:white;
	background:#010A14;
	width:100%;
	margin:0px;
    padding:3px;
    position:fixed;
    bottom:0;
	color:#363b42;
}
footer span {margin:5px; font-size:14px;}
footer :hover {margin:5px; text-decoration:underline; color:white;}
/* FONT ---------------------------------------------------- */
h1 {font-size:26px;color:white;}
a {text-decoration:none;}
.box-grey {
	border:solid white 0px;
	display:block;
	width:auto;
	/*background:rgba(1,10,20,0.2);*/
	box-shadow: 14px 0px 14px rgba(0,0,0,0.1);
	margin-left:auto;
	margin-right:auto;
	border-radius:5px;
	margin-top:30px;
	margin-bottom:12px;
	padding:7px;
}
.box-grey h1 {margin:0;}
hr {border: none;height: 2px;background-color: black;}
.line {
	width: 95%;
	height: 1px;
	background-color: white;
	margin-top:25px;
	margin-bottom:25px;
	user-select:none;
}
/* NAVIGATION ---------------------------------------------------- */
.nav-bar{
	top:0;
	display:flex;
	align-items:center; /* Vertikal zentrieren */
	overflow:hidden;
	/*background: linear-gradient(to bottom, #0A0A0A, #010A14);*/
	background-color:#0A0A0A;
	width:100vw;
	padding-top:3px;
	padding-bottom:3px;
	margin:0;
	margin-left:auto;
	margin-right:auto;
	border:white solid 0px;
	z-index:11;
}
.nav-bar li a {
	color:white;
	text-align:center;
	font-size:20px;
	text-decoration:none;
}
#black-link {
	color:black;
	font-size:18px;
	margin:1px;
}
.dropdown-content { /* Dropdown Content (Hidden by Default) */
	opacity:0;
	position: absolute;
	background-color: #E8985E;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	text-align:left;
	padding:7px 17px 14px 17px;
	transition: opacity 0.3s ease, max-height 0.3s ease;
	z-index:10;
}
.dropdown-content li a { /* Links inside the dropdown */
	color:black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropbtn {}
.dropdown-content a:hover {} /* Change color of dropdown links on hover */
.dropbtn:hover .dropdown-content {opacity: 1;} /* Show the dropdown menu on hover */
.dropdown:hover .dropbtn {background-color:#010112;} /* Change the background color of the dropdown button when the dropdown content is shown */
/* Nav Left */
.nav-logo {
	width:75%;
	height:auto;
	margin-right:auto;
	margin-left:auto;
	margin-top:40px;
	margin-bottom:10px;
	user-select:none;
}
.nav-title	{
	position:relative;
	font-weight:bold;
	font-size:24px;
	color:white;
	margin:4px;
	left:3%;
	float:left;
	margin-top:0;
	margin-left:20px;
	margin-right:0;
}
.nav-button {
	display: block;
	width: 85%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	border: solid lightslategrey 1px;
	background:radial-gradient(#0A0A0A, #010A14);
	fonz-size: 16px;
	padding: 8px;
	color: white;
	user-select:none;
}
.nav-button:hover {transform: scale(0.97);}
.menu-icon-div {
	position:absolute;
	margin:10px;
	margin-top:auto;
	margin-bottom:auto;
	display:inline-block;
	align-content:center;
	padding: 6px 11px;
	background-color:#1c1c1c;
	border-radius:5px;
	cursor:pointer;
}
.menu-icon-div:hover {background-color: #0056b3;}
.menu-icon-div:active {transform:scale(0.9);}
.menu-icon {
	position:relative;
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	width: 20px;   /* Gesamtbreite des Icons */
	height: 20px;  /* Gesamthöhe des Icons */
	margin-left:auto;
	margin-right:auto;

}
.menu-icon span {
	display: block;
	width: 4px;    /* Durchmesser eines Punktes */
	height: 4px;
	background-color:lightgrey; /* Farbe der Punkte */
	border-radius: 50%;     /* Macht die Elemente rund */
	margin-left:auto;
	margin-right:auto;
}
/*----Navigation Bar----*/
ul {
	display:flex;
	align-items:center;
	border:white solid 0px;
	width:75%;
	list-style-type: none;
	margin:0;
	overflow: hidden;
	top:0;
	vertical-align:center;
	margin-left: auto;
	margin-right: auto;
	border-radius:5px;
	padding-top:7px;
	padding-bottom:7px;
	user-select:none;
}
li {
float:left;
margin-left:15px;
margin-top:7px;
margin-bottom:7px;
}
li a:hover {text-decoration:underline;}
.content {
	position:absolute;
	left:15%;
	border:solid white 0px;
	width:80%;
	max-width:80%;
	margin-left:auto;
	margin-right:auto;
	align-items:center;
	margin-top:1px;
}
/*Banner Left  ---------------------------------------------------- */
.bannerleft {
	position: fixed;
	top: 100px; /* Abstand zur Navbar */
	left: 40px; /* Abstand zum linken Rand */
	width: 10vw; /* Breite der Seitenleiste */
	height: calc(90vh - 100px); /* Höhe anpassen, damit sie immer sichtbar bleibt */
	background:#010A14;
	color: white;
	padding: 10px;
	border: solid lightslategrey 0px;
	border-radius:4px;
	box-shadow: 0px 5px 15px rgba(34,40,57,0.4);
	user-select:none;
}
/*Banner Right  ---------------------------------------------------- */
.bannerright {
	transition:0.3s;
	background: linear-gradient(to bottom, #0A0A0A, #010A14);
	width:8vw;
	height:100%; /* Höhe anpassen, damit sie immer sichtbar bleibt */
	height:100vh;
	float:right;
	margin:0px;
	overflow:hidden;
	position:-webkit-sticky; /* Safari */
	position:sticky;
	right:-8%;
	position:fixed;
	z-index:1;
	user-select:none;
	padding-top:2%;
}
.div-showimg {
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:#0d151f;
	border-radius:5px;
	aspect-ratio:1 / 1;
	margin-top:25px;
	margin-bottom:25px;
	padding:20px;
}
.bannerright .div-showimg {	margin-right:auto; margin-left:auto; max-width:65%; padding:9px;}
.div-showimg:hover {transform:scale(1.05);}
.showimg {
	font-family:'Trebuchet MS', serif; font-size: 32px;
	/*box-shadow:0px 0px 5px rgba(255,255,255,0.3); Ugly*/
	width: 225px;
	height:auto;
	margin-top:auto;
	margin-bottom:auto;
	border-radius:3px;
}
.bannerright .showimg {width:100%;}
/*Modul Übersicht  ---------------------------------------------------- */
.div-flex {
	margin-top:5px;
	margin-bottom:10px;
	width:100%;
	border:solid white 0px;
	display:inline-flex;
	flex-direction:row;
	gap:15px;
	margin-left:auto;
	margin-right:auto;
	justify-content:center;

}
.modul {
	position:relative;
	max-width:275px;
	max-height:275px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
	opacity:0.9;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
	perspective: 1000px;
	display: inline-block; /* Damit mehrere Module nebeneinanderstehen können */
	padding:0;
	user-select:none;
}
.modul:hover {opacity:1;}
.modul a {color:white;fonz-size:14px;font-weight:normal;z-index:2;}
.modul-title {
	width:100%;
	display:block;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	vertical-align:center;
	color:white;
	font-weight:bold;
	font-size:18px;
	background:rgba(0,0,0,0.8);
	padding:12px;
	user-select:none;
}
.modul-title-back {
	width:100%;
	display:block;
	position:relative;
	top: 0%;
	left: 50%;
	transform: translate(-50%);
	vertical-align:center;
	color:white;
	font-weight:bold;
	font-size:18px;
	background:rgba(0,0,0,0.8);
	padding:12px;
	user-select:none;
}
.modul-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
	padding:0;
}

.modul.active .modul-inner {
    transform: rotateY(180deg);
}
.modul-front, .modul-back {
    width:100%;
    height:100%;
    position:absolute;
    backface-visibility:hidden;
    display:flex;
    justify-content:center;
    font-size:18px;
    font-weight:bold;
    border-radius:10px; /* Abgerundete Ecken */
    box-shadow:0 4px 6px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
	margin:0;
}
.modul-front {background-color: #3498db; color: white;}
.modul-back {
    background-color: #010A14; /* Grüne Rückseite */
    color: white;
    transform: rotateY(180deg);
}
.div-modul:hover {opacity:1;}
.div-modul img{
	max-width:275px;
	max-height:275px;
	border-radius:10px;
}
.modul-title {
	width:100%;
	display:block;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	vertical-align:center;
	color:white;
	font-weight:bold;
	font-size:18px;
	background:rgba(0,0,0,0.8);
	padding:12px;
	user-select:none;
}
.modul {width: 200px;height: 300px;}
.modul-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
	padding:0;
}
.modul.active .modul-inner {transform: rotateY(180deg);}
.modul-front, .modul-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px; /* Abgerundete Ecken */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
	margin:0;
}
.modul-front {background-color: #3498db; color: white;}
.modul-back {
	display:block;
    background-color: #010A14; /* Grüne Rückseite */
    color: white;
    transform: rotateY(180deg);
}
.modul-back a:hover{
	text-decoration:underline;
}
/* Styling für das Suchfeld */
.search-container {
	position:relative;
	left:40%;
	align-items: center;
	z-index:2;
}
.search-bar {
	padding: 8px;
	border-radius: 5px;
	border: none;
	width: 200px;
	margin-right: 10px;
}
.search-bar:focus {
	outline: none;
	border: 2px solid #007BFF;
}
.search-btn {
	padding: 8px 12px;
	background:#1c1c1c;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
}
.search-btn:hover {background-color: #0056b3;}
.search-btn:active {transform:scale(0.9);}
.eyeOpen, .eyeClosed {}
.icon {width:22px; margin:auto; vertical-align:center; position:relative; display:block;}
/* Template - game_concepts.html */
.game-picture {
	border:white solid 0px;
	justify-content:center;
	background-color:white;
	position: relative;
	width:400px;
	max-width:400px;
	height:auto;
	max-height: 400px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
	opacity: 0.81;
	overflow:hidden;
	border-radius:10px;
	perspective:1000px;
	display:flex; /* Damit mehrere Module nebeneinanderstehen können */
	padding:0;
}
.game-picture img {
	position:relative;
	width:auto;
	height:100%;
	border-radius:10px;
}
.game-picture:hover {opacity:1;}
.fullscreen {
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	width:auto;
	max-width:95vw;
	height:90vh;
	max-height:95vh;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.8);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
	opacity:1;
}

/* Das Element für die Steuerungselemente ist anfangs unsichtbar und wird mit einer Transition animiert */
#colorControls {
	display: none;
	position: absolute;
	width: 100%;
	transition-duration:2s;
	border-radius:5px;
	padding-bottom:75px;
}
.color-label {margin-left:20px; font-weight:bold; padding:20px;}
.color-label:hover {cursor: pointer;}
label[for="element1"]:hover + #element1 {
	border: 3px solid pink; /* Fügt beim Hover des Labels eine pinke Linie hinzu */
}
.control-group {margin:20px; background-color:rgba(0,0,0,0.5); padding:8px; border-radius:5px;}
#colorControls.visible { 	/* Die Steuerungselemente werden nach oben geschoben */
	bottom:0;
	display: block;
	max-width:50vw;
	margin-left:auto;
	margin-right:auto;
	background:rgba(21, 13, 17, 0.8);
	transform: translateY(0);
}
#colorValues {
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
	max-height:6vh;
}
#colorValues button {position:fixed; right:10%; width:auto; margin:0;}
#colorValues h3 {position:fixed; left:10%; margin-right:10px;}
#colorValues pre {color:pink;border:solid grey 1px; margin-left:auto;margin-right:auto; margin-top:50px; max-height:6vh; }
/* Template - index.html */
